<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm developer</h1>
    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on GitHub <a href="https://github.com/secretpray">@SecretPray</a> or on the web at <a href="#">Website</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter <a href="http://eepurl.com/">here</a>.</p>
  </div>
</div>
